.Style1{font-family: 'Helvetica-Bold','Helvetica',sans-serif;
font-size: 48px; 
font-weight:700; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style2{font-family: 'Helvetica-Bold','Helvetica',sans-serif;
font-size: 18px; 
font-weight:700; 
margin:0;
word-wrap: break-word;}
.Style3{font-family: 'Helvetica',sans-serif;
font-size: 12px; 
margin:0;
word-wrap: break-word;}
.Style4{font-family: 'Calibri','Arial',sans-serif;
font-size: 18px; 
margin:0;
word-wrap: break-word;}
.Style5{font-family: 'Calibri-Light','Calibri','Arial',sans-serif;
font-size: 16px; 
font-weight:300; 
margin:0;
word-wrap: break-word;}
.Style6{font-family: 'Arial-BoldMT','Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style7{font-family: 'Calibri-Light','Calibri','Arial',sans-serif;
font-size: 20px; 
font-weight:300; 
margin:0;
word-wrap: break-word;}
.Style8{font-family: 'Calibri-Light','Calibri','Arial',sans-serif;
font-size: 18px; 
font-weight:300; 
margin:0;
word-wrap: break-word;}
.Style9{font-family: 'Helvetica',sans-serif;
font-size: 18px; 
margin:0;
color: #FEFEFF;
word-wrap: break-word;}
.Style10{font-family: 'ArialMT','Arial',sans-serif;
font-size: 12px; 
margin:0;
word-wrap: break-word;}
.Style11{font-family: 'Helvetica',sans-serif;
font-size: 46px; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style12{font-family: 'Helvetica',sans-serif;
font-size: 24px; 
margin:0;
word-wrap: break-word;}
.Style13{font-family: 'Helvetica-Bold','Helvetica',sans-serif;
font-size: 20px; 
font-weight:700; 
margin:0;
word-wrap: break-word;}
.linkStyle_14{font-family: 'Helvetica-Bold','Helvetica',sans-serif;
font-size: 20px; 
font-weight:700; 
color: #000000;
text-decoration: none; 
/*100#00F900#000000#000000*/
word-wrap: break-word;}
a.linkStyle_14:visited{color:#000000; text-decoration:none;}
a.linkStyle_14:hover{color:#000000; text-decoration:underline;}
.Style17{font-family: 'Helvetica-Bold','Helvetica',sans-serif;
font-size: 20px; 
font-weight:700; 
word-wrap: break-word;}
.linkStyle_18{font-family: 'Helvetica-Bold','Helvetica',sans-serif;
font-size: 20px; 
font-weight:700; 
color: #000000;
text-decoration: none; 
/*100#000000#000000#000000*/
word-wrap: break-word;}
a.linkStyle_18:visited{color:#000000; text-decoration:none;}
a.linkStyle_18:hover{color:#000000; text-decoration:underline;}
.Style21{font-family: 'Calibri','Arial',sans-serif;
font-size: 24px; 
margin:0;
word-wrap: break-word;}
.Style22{font-family: 'Calibri','Arial',sans-serif;
font-size: 24px; 
font-weight: 400;
word-wrap: break-word;}
.Style23{font-family: 'Helvetica',sans-serif;
font-size: 18px; 
margin:0;
background-color: #D4D4D4; 
word-wrap: break-word;}
.linkStyle_24{font-family: 'Helvetica',sans-serif;
font-size: 18px; 
margin:0;
color: #011891;
word-wrap: break-word;}
a.linkStyle_24:visited{color:#011891; text-decoration:none;}
a.linkStyle_24:hover{color:#011891; text-decoration:underline;}
.linkStyle_27{font-family: 'Helvetica',sans-serif;
font-size: 18px; 
color: #011891;
text-decoration: none; 
/*100#000000#011891#011891*/
word-wrap: break-word;}
a.linkStyle_27:visited{color:#011891; text-decoration:none;}
a.linkStyle_27:hover{color:#011891; text-decoration:underline;}
.Style30{font-family: 'Helvetica',sans-serif;
font-size: 14px; 
margin:0;
word-wrap: break-word;}
.Style31{font-family: 'Helvetica',sans-serif;
font-size: 26px; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style32{font-family: 'ArialMT','Arial',sans-serif;
font-size: 18px; 
margin:0;
background-color: #D4D4D4; 
word-wrap: break-word;}
.linkStyle_33{font-family: 'Helvetica',sans-serif;
font-size: 18px; 
color: #082691;
text-decoration: none; 
/*100#000000#011891#082691*/
word-wrap: break-word;}
a.linkStyle_33:visited{color:#011891; text-decoration:none;}
a.linkStyle_33:hover{color:#082691; text-decoration:underline;}
.Style36{font-family: 'ArialMT','Arial',sans-serif;
font-size: 18px; 
margin:0;
word-wrap: break-word;}
.linkStyle_37{font-family: 'ArialMT','Arial',sans-serif;
font-size: 18px; 
margin:0;
color: #011891;
word-wrap: break-word;}
a.linkStyle_37:visited{color:#011891; text-decoration:none;}
a.linkStyle_37:hover{color:#011891; text-decoration:underline;}
.linkStyle_40{font-family: 'ArialMT','Arial',sans-serif;
font-size: 18px; 
color: #011891;
text-decoration: none; 
/*100#000000#011891#011891*/
word-wrap: break-word;}
a.linkStyle_40:visited{color:#011891; text-decoration:none;}
a.linkStyle_40:hover{color:#011891; text-decoration:underline;}
.Style43{font-family: 'ArialMT','Arial',sans-serif;
font-size: 14px; 
margin:0;
word-wrap: break-word;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale}